body {
    font-family: "Roboto", sans-serif;
    background-image: url(./carousel3.jpg);
    background-attachment: fixed;
}

.card-body {
    background-color: #133975;
    opacity: 85%;
    border-radius: 10px;
}

.nav-link {
    font-size: 120%;
    font-family: "Roboto", sans-serif;
    color: white !important;
    text-align: center;
}

.nav-link:hover {
    color: #53adc0 !important;
}

/* Start -- Home Component Cards */
.card-body {
    background-color: #133975;
    opacity: 85%;
    border-radius: 10px;
}

.card-text {
    color: white;
    text-align: center;
}

.card {
    background-color: transparent;
    border-radius: 10px;
}
/* End -- Home Component Cards */

.site-footer {
    background-color: #133975;
    padding: 20px 0px;
    color: white;
}

.site-footer a {
    color: white;
}

.site-footer a:hover {
    color: #53adc0;
    text-decoration: none;
}

.breadcrumb {
    background: #133975;
    opacity: 85%;
}

.breadcrumb li a {
    color: white;
}

.breadcrumb li {
    color: #53adc0 !important;
}

hr {
    background-color: white;
}

/* About Component Circle Icons */
.circlebg {
    background: #133975;
    border-radius: 50%;
    margin-bottom: 40px;
    opacity: 85%;
    height: 275px;
    text-align: center;
    padding-top: 70px;
}

h3 {
    padding: 0 40px 0 40px;
    font-weight: 300;
}

.carousel {
    background-color: #133975;
    opacity: 85%;
    color: black;
    border-radius: 10px;
    margin-bottom: 3rem;
}

.carousel-caption p {
    padding-bottom: 0px;
    padding-top: 0px;;
}

.carousel img {
    margin:auto;
    margin-bottom: 150px;
    margin-top: 25px;
    padding: auto;
}

.invert{
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin: 5px;
}

/* coaches images */
.img-fluid {
    max-width: 100%;
    height: auto;
    border: 3px #133975 solid;
}

/* .coachcards {
    height: auto;
    max-width: 100%;
} */

h3 {
    padding: 0 0;
}
